* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    color: white;
    background: black;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}


.header {
    background-color: black;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__container-user-mobile {
    color: white;
    font-size: 50px;
    margin-left: 130px;
}

.Tittle {
    color: white;
    display: flex;
    text-align: start;
}
.header__logo {
    width: 50px;
    margin-left: 20px;
    display: flex;
}

.header__container {
    display: none;
    position: relative;
    left: 700px;
    bottom: 40px;
}

.header__nav-link {
    color: white ;
    margin-left: 50px;
}

.header__nav-link span {
    color: red;
}

.header__nav-link-registrer button {
    color: white; 
    background: red;
    border-radius: 25px;
    width: 150px;
    height: 50px;
}

.header__nav-link-in button{
    color:rgb(255, 255, 255);     
    border-radius: 25px;
    width: 150px;
    height: 50px;
    background-color: transparent;
    border: 2px solid white;
}

.header__logo{
    width: 20px;
}

.main {
    background: rgb(17, 17, 17);
}

.main__container {
    background: black;
}

.main__container-text {
    text-align: center;
    font-size: larger;
}

.container__exclamation-img {
    width: 5%;
    display: flex;
    flex-direction: row;
}

.container__exclamation-text {
    font-size: 10px;
    text-align: center;
    margin: 10px;
}

.container__exclamation {
    background-color: rgb(105, 105, 105);
    border: 1px solid gray;
    border-radius: 12px;
    margin: 10px;
    display: flex;
}

.container__campaign-img {
    width: 10%;
}

.container__campaign-proof {
    font-size: 10px;
}

.container__campaign {
    display: flex;
    background-color: rgb(71, 71, 71);
    margin: 15px;
    border-radius: 10px;
}

.container__premium {
    background: linear-gradient(blue,violet);
    margin: 10px;
    border-radius: 10px;
}

.container__premium-text {
    text-align: center;
    margin: 10px;
    padding-top: 20px;
}

.container__premium-box-text,
.container__premium-box-text-2,
.container__premium-botton,
.container__premium-box-text-3,
.container_premium-box-text-4,
.box-premium-small-title {
    text-align: center;
    font-size: 10px;
    margin: 15px 0;
}

.container__premium-botton button {
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 30px;
}

.container__premium-text-h5 {
    color: white;
    font-size: 20px;
    font-weight: bolder;
}

.container__discount {
    background-color: gray;
    display: flex;
    flex-direction: column;
}

.container__discount-img {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__discount-gift,
.container__discount,
.container__discount-botton,
.container__discount-activate {
    text-align: center;
    margin-bottom: 10px;
}

.container__legal {
    background-color: linear;
}

.container__legal-paragraph {
    text-align: center;
    background: linear-gradient(grey,black);
    font-size: 12px;
    color: white;
    margin: 15px;
}

.container__footer {
    display: flex;
    flex-direction: column;
    text-align: start;
    list-style-type: none;
}

.container__footer-img-apple,
.container__footer-img-gplay {
    background: black;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
    padding-bottom: 30px;
}


.container__colum {
    flex-direction: row;
    justify-content: center;
    display: flex;
    list-style-type: none;
    margin-left: 15px;
}

.container__colum-one-d a{
    font-size: 10px;
    color: white;
    flex-direction: column;
    text-align: start;
    margin-bottom: 50px;
    margin-left: -90px;
    list-style-type: none;    
}

.container__colum-Caracteristic a {
    font-size: 10px;
    color: white;
    flex-direction: row;
}



.container__colum-ul-exploring a {
    font-size: 10px;
    color: white;
    flex-direction: column;
}

.container__colum-three-who a{
    font-size: 10px;
    color: white;
    flex-direction: column;
}

.container__colum-legal a{
    font-size: 10px;
    color: white;
    flex-direction: column;
}

.container__socialmedia-logo {
    font-size: 10px;
    width: 40px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}